/* header.css */

header {
  height: 520px;
  width: 100%;
  background-color: #a14055;
  background-image: url("../images/light-fabric.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}




