/* Styles the navigation bar */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 2em;
}

/* Styles the span element within the navigation bar */
nav span {
  font-family: "bungee", "sans-serif";
  display: flex;
  align-items: center;
}

/* Styles the div elements within the navigation bar */
nav div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Styles the paragraphs within the div elements */
nav div p {
  margin: 0;
}

/* Styles the span element within the div elements */
nav div span {
  color: #f9003a;
}

/* Styles the company span within the navigation bar */
nav .company span {
  color: #FFFFFF;
  font-size: 2rem;
}
