/* Sets border style */
.tweet-container {
  border: 4px solid black;
}

/* Adds box shadow when hovering over tweet */
.tweet-container:hover {
  box-shadow: 10px 5px 5px lightgray;
}

/* Styles the header section */
.tweet-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* Styles the footer section */
.tweet-container > footer {
  width: 98%;
  padding: 0.5rem 1rem;
  margin: auto;
  border-top: 4px solid black;
  display: flex;
  justify-content: space-between;
}

/* Styles paragraphs inside footer section */
.tweet-container footer > p {
  font-size: 0.875rem;
}

/* Styles the social tags section */
.tweet-container .social-tags {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}

/* Changes color of flag, retweet, and heart icons on hover */
.tweet-container .fa-flag:hover,
.tweet-container .fa-retweet:hover,
.tweet-container .fa-heart:hover {
  color: #a14056;
}

/* Styles the icon and name section */
.tweet-container .icon-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Styles paragraphs inside icon and name section, and footer section */
.tweet-container .icon-name > p,
.tweet-container footer > p {
  margin: 0;
}

/* Sets color for username */
.tweet-container .username {
  color: #545149;
}

/* Styles the text content of tweets */
.tweet-container .tweet-text {
  padding-left: 2rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

/* Styles the container for tweets */
#tweets {
  margin: 2rem 0;
}

/* Styles each individual tweet container within the tweets section */
#tweets > .tweet-container {
  margin: 1rem 0;
}

/* Styles the scroll toggle button */
.toggle-scroll {
  height: 50px;
  width: 50px;
  background-color: #f9003a;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

/* Changes cursor to pointer when hovering over scroll toggle button */
.toggle-scroll:hover {
  cursor: pointer;
}

/* Styles the arrows within the scroll toggle button */
.toggle-scroll .toggle-scroll-arrows {
  padding-top: 13px;
  padding-left: 15px;
  color: #FFFFFF;
}

/* Hides the element */
.hidden {
  display: none;
}
